.search-form {
    display: flex;

    * {
        background: #DDA15E;
        font-size: 1rem;
    }

    input {
        flex-grow: 1;
        border:3px solid;
        border-color: #FEFAE0;
        border-right: 0;
        border-radius: 3px 0 0 3px;
        color: white;
        padding: 10px;
        margin: 0;

        &:focus { 
            outline: none !important;
        }
        
    }

    input::placeholder {
        color: #FEFAE0;
    }

    button {
        padding: 0 16px;
        border-radius: 0 5px 5px 0;
        border:3px solid;
        border-color: #FEFAE0;
        color: #FEFAE0;
        cursor: pointer;
        margin: 0; 
    }

    filter: drop-shadow(-.15rem .15rem .15rem rgba(0, 0, 0, 0.293));

}