:root {
    --text-theme: #FEFAE0;
}

body {
    background-color: #DDA15E;
}

.weather-app {
    padding: 12px 0 12px;
    height: 100vh;
    max-width: 656px;
    margin: auto;
    display: flex;
    flex-direction: column;

    footer {
        margin: auto;
        color: #FEFAE0;
        font-size: 12px;
        padding-bottom: 1.5rem;
    }
}

@media (max-width: 662px) {

    .weather-app {
        padding: 12px 8px 12px;
    }

}